/*
 * Rosé Pine Moon theme for SwayOSD
 */

window#osd {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #44415a;
    background: rgba(35, 33, 54, 0.9); /* #232136 with opacity */
}

#container {
    margin: 10px;
}

image, label {
    color: #e0def4;
}

progressbar trough {
    min-height: 10px;
    border-radius: 999px;
    background: rgba(224, 221, 244, 0.1); /* #e0def4 with 10% opacity */
}

progressbar progress {
    border-radius: 999px;
    background: #c4a7e7; /* Iris/Purple accent */
}
