/*
 * One Dark Pro theme for SwayOSD
 */

window#osd {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #3e4452;
    background: rgba(40, 44, 52, 0.9); /* #282c34 with opacity */
}

#container {
    margin: 10px;
}

image, label {
    color: #abb2bf;
}

progressbar trough {
    min-height: 10px;
    border-radius: 999px;
    background: rgba(171, 178, 191, 0.1); /* #abb2bf with 10% opacity */
}

progressbar progress {
    border-radius: 999px;
    background: #61afef; /* Blue accent */
}
