* {
    bg:         #282c34ee;
    bg-alt:     #21252b;
    fg:         #abb2bf;
    selected:   #61afef;
    active:     #98c379;
    urgent:     #e06c75;

    border:     #3e4452;

    background-color: transparent;
    text-color: @fg;

    font: "JetBrainsMono Nerd Font 11";
}

window {
    width: 40%;
    border: 2px;
    border-color: @border;
    border-radius: 14px;

    background-color: @bg;
}

mainbox {
    children: [inputbar, listview];
}

inputbar {
    padding: 14px;
    background-color: @bg-alt;
}

prompt {
    text-color: @selected;
    margin: 0px 10px 0px 0px;
}

entry {
    placeholder: "Search...";
}

listview {
    lines: 10;
    columns: 1;

    fixed-height: false;

    padding: 10px;
    spacing: 6px;

    scrollbar: false;
}

element {
    padding: 10px;
    border-radius: 10px;
}

element normal.normal {
    background-color: transparent;
    text-color: @fg;
}

element selected.normal {
    background-color: @selected;
    text-color: #282c34;
}

element-icon {
    size: 22px;
    margin: 0px 10px 0px 0px;
}
