* {
    font-family: "IosevkaRakesh Nerd Font";
    font-size: 14px;
}

window {
    margin: 0px;
    border: 2px solid #3e4452;
    background-color: rgba(40, 44, 52, 0.95);
    border-radius: 16px;
}

#input {
    margin: 15px;
    border: 2px solid #3e4452;
    border-radius: 10px;
    padding: 15px;
    background-color: #21252b;
    color: #abb2bf;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #abb2bf;
}

#entry {
    padding: 10px;
    margin: 2px 10px;
    border-radius: 10px;
}

#expander-box {
    padding: 5px;
    margin: 0px 10px;
    background-color: #282c34;
    border: 1px solid #3e4452;
    border-radius: 10px;
}

#expander-box #entry {
    background-color: transparent;
}

#expander-box #entry #text {
    color: #abb2bf;
}

#expander-box #entry:selected {
    background-color: #3e4452;
}

#expander-box #entry:selected #text {
    color: #61afef;
}

#entry:selected {
    background-color: #3e4452;
    border-radius: 10px;
    outline: none;
}

#entry:selected #text {
    color: #61afef;
    font-weight: bold;
}

#img {
    margin-right: 12px;
}
